body {
  overflow-x: auto;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* html
{
    scroll-behavior: smooth;
} */
/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  transition: all 0.5s;
  z-index: 997;
  padding: 15px 0;
}

#header.header-scrolled,
#header.header-inner-pages {
  background: rgba(40, 58, 90, 0.9);
}

#header .logo {
  font-size: 30px;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: 500;
  letter-spacing: 2px;
  text-transform: uppercase;
}

#header .logo a {
  color: #fff;
}

#header .logo img {
  max-height: 40px;
}

.header {
  /*padding-top: 20px;*/
  transition: 0.5s;
}
.workup-navbar li {
  display: flex;
}
.workup-navbar li a {
  color: #ffffff !important;
  margin: 0 10px;
}
.navbar-expand-lg {
  background-color: #393c6d;
}
.banner-text {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.navcrowdfunding {
  background-color: #fff;
}
.bg-light {
  background-color: #fff !important;
}
.nav-link {
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  /* identical to box height, or 114% */

  text-align: center;

  /* Neutrals/4 */

  color: #777e91;
}

.utableheading6575 {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */

  /* Neutrals/2 */

  color: #23262f;
}
.mainimage {
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: -webkit-fill-available;
}
.n-secondaryButton {
  background-color: #fcfcfd;
  padding: 12px 16px;
  font-family: DM Sans;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  border-radius: 35px;
  border: 2px solid #e6e8ec;
  text-decoration: none;
  color: #23262f !important;
}

.n-secondaryButton:hover {
  color: #fff !important;
  background-color: #3772ff;
  border: 2px solid #3772ff;
}

.n-tableSection {
  margin-bottom: 130px;
}

.n-marketHeading {
  margin-top: 130px;
}

.n-learnSection {
  margin-bottom: 130px;
}

.n-learnHeading {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 75px;
}
.n-articleButton {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-top: 48px;
}
.markettrend {
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 56px;
  letter-spacing: -0.02em;
  color: #23262f;
  margin-bottom: 0;
}
.rdrDefinedRangesWrapper {
  display: none;
}
button:focus {
  outline: 0px dotted;
  /* color: #000; */
  outline: 0px auto -webkit-focus-ring-color;
}
.tradingbutton {
  border: 2px solid #e6e8ec;
  border-radius: 22px;
  font-family: DM Sans;
  font-size: 14px;
  line-height: 16px;
  font-weight: bold;
  color: #23262f;
  padding: 12px 16px;
  border-radius: 90px;
  font-weight: 700;
}

.tradingbutton:hover {
  background-color: #3772ff;
  color: #fff;
  border: 2px solid #3772ff;
}

.percentage {
  color: #58bd7d;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  font-family: "Poppins";
  padding-top: 17px;
}
.percentagetwo {
  color: #ff6838;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  font-family: "Poppins";
  padding-top: 17px;
}
.cryptotraders {
  background-color: #f4f5f6;
  padding-top: 130px;
  padding-bottom: 130px;
}
.cryptoTraderDescription {
  display: flex;
  justify-content: center;
  color: #777e91;
  font-weight: 400;
  font-family: Poppins;
  font-size: 16px;
  margin-bottom: 64px;
}
.imagewidth {
  width: 870px;
}
.n-tradingSteps {
  display: none !important;
}
.n-articleDetails {
  display: flex;
  flex-direction: column;
  max-width: 246px;
  margin-left: 58px;
}
.n-articleDetails h2 {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #23262f;
  margin-bottom: 16px;
}
.n-articleDetails .n-articleDesc {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #777e91;
  margin-bottom: 0;
}
.minutstart {
  font-size: 16px;
  line-height: 24px;
  padding-top: 40px;
  font-family: Poppins;
  color: #23262f;
  font-weight: 500;
  margin-bottom: 16px;
}
.mintparagraph {
  font-size: 14px;
  color: #353945;
  line-height: 24px;
  text-align: center;
  font-family: Poppins;
  font-weight: normal;
}
.cryptobutton {
  padding: 12px 16px;
  border: 2px solid #e6e8ec;
  font-family: DM Sans;
  font-size: 14px;
  line-height: 16px;
  border-radius: 30px;
  color: #23262f;
  font-weight: 700;
  float: right;
}

.n-secondaryButton:hover {
  background-color: #3772ff;
  color: #fff;
  border: 2px solid #3772ff;
}
.n-secondaryButton:hover svg path {
  fill: #fff;
}
.n-secondaryButton svg {
  margin-left: 12px;
}
.footerlinkcoltwo {
  display: block;
}
.navbar-expand-lg .navbar-nav .nav-link {
  margin-right: 3.5rem;
  padding-left: 0.5rem;
  padding-top: 10px;
}
.walletbutton {
  padding-left: 18px;
  padding-right: 18px;
  border: 2px solid #e6e8ec;
  font-weight: 700;
  font-size: 14px;
  font-family: DM Sans;
  border-radius: 20px;
  color: #23262f;
}
.footerlink {
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-decoration: none !important;
  color: #777e90;
}
.footerlinks {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  /* identical to box height, or 171% */

  /* Neutrals/2 */

  color: #23262f;
}
.u-column333 {
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 12px;
  /* identical to box height, or 100% */

  text-transform: uppercase;

  /* Neutrals/2 */

  color: #23262f;
}
.ufottertext-34 {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  /* or 171% */

  /* Neutrals/2 */

  color: #23262f;
}
.ufoteertext34555 {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 20px;
  color: #777e91;
  margin-bottom: 0;
}
.uhometext879 {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  /* or 150% */

  /* Neutrals/4 */

  color: #777e91;
}
.modalparagraph {
  background-color: #f4f5f6;
  padding: 20px;
  border-radius: 7px;
}
.connectwallet {
  border: 3px solid #e6e8ec;
  border-radius: 15px;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 8px;
}
.modal-content {
  border-radius: 1.3rem;
}
.marketbanner {
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 150px;
  width: 100%;
}
.marketparagraph {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 20px;
  color: #777e91;
  margin-bottom: 4px;
}

.spanclassmarket {
  background-color: #ff6838;
  border-radius: 24px;
  color: #fcfcfd;
  padding: 2px 8px;
  font-size: 12px;
  font-weight: 600;
  line-height: 20px;
  border-radius: 24px;
  margin-left: 10px;
  font-family: "Poppins";
}
.spanclassmarkets {
  background-color: #58bd7d;
  color: #fcfcfd;
  padding: 2px 8px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 20px;
  border-radius: 24px;
  margin-left: 12px;
}
.bitcoinclasss {
  background-color: #fcfcfd;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom: 1px solid #e6e8ec;
}
.bitcoinclasssmian {
  background-color: #f4f5f6;
  border-radius: 20px;
  padding: 24px 24px !important;
  height: 1120px;
  height: 252px;
  margin: 0px 0px;
}
.fa {
  color: #777e90;
}
.alltype {
  background-color: #353945;
  color: #fff;
  padding: 6px 12px;
  border-radius: 30px;
  border-color: #353945;
  font-size: 14px;
  font-weight: 700;
  font-family: DM Sans;
  border: none;
  line-height: 16px;
  border: 2px solid transparent;
}
.alltype-nonActive {
  color: #777e90 !important;
  font-size: 14px;
  padding: 6px 12px;
  border-radius: 30px;
  font-weight: 700;
  background: none;
  border: none;
  line-height: 16px;
  border: 2px solid transparent;
}
.alltype-nonActive:hover {
  border: 2px solid #353945;
  color: #353945 !important;
}

.sideBarActive {
  color: #23262f !important;
}
.marketbannerhed {
  font-family: DM Sans;
  font-size: 64px;
  font-style: normal;
  font-weight: bold;
  line-height: 64px;
  padding-bottom: 20px;
  letter-spacing: -0.02em;
  margin-bottom: 0;
}

.n-heroDescription {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #777e91;
  margin-bottom: 32px;
}

.n-marketTrendHeading {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.n-marketTable {
  padding-top: 48px;
}

.n-primaryButton {
  font-family: DM Sans;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  color: #fcfcfd;
  padding: 12px 16px;
  border-radius: 90px;
  background-color: #3772ff;
  border: 2px #3772ff solid;
}

.n-primaryButton:hover {
  color: #3772ff;
  background-color: transparent !important;
  border: 2px #3772ff solid;
}

.n-downArrow {
  margin-top: 180px;
  margin-bottom: 43px;
}

.mainhover {
  height: 204px !important;
  width: 24% !important;
  padding: 32px 0px 32px 32px;
  margin: 0px 0.5%;
}
.mainhover:hover {
  background-color: #ffffff;
  border-radius: 16px;
  box-shadow: 0px 64px 64px -48px rgba(15, 15, 15, 0.1);
}
.markethover:hover {
  background-color: rgb(238, 236, 236);
  border-radius: 15px;
  box-shadow: 0px 64px 64px -48px rgba(15, 15, 15, 0.1);
}
.markethover {
  padding-top: 20px;
  padding-left: 10px;
}
.btn-primary {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 12px;
  padding-bottom: 12px;
  font-size: 16px;
  background-color: #3772ff !important;
  color: #fcfcfd;
  font-family: DM Sans;
  font-weight: 700;
  line-height: 16px;
  border-radius: 40px;
}
.home-button4567 {
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 16px;
  padding-bottom: 16px;
  font-size: 16px;
  background-color: "#3772FF";
  color: "#fcfcfd";
  color: #fcfcfd;
  font-family: DM Sans;
  font-weight: 700;
  line-height: 16px;
  border-radius: 40px;
}
.marketcardone {
  background-color: #9757d7;
  border-radius: 4px;
  color: #fff;
  padding: 8px;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 12px;
  font-weight: bold;
  font-family: Poppins;
  text-align: center;
  width: fit-content;
  margin-top: 28px;
  margin-bottom: 16px;
}
.marketcardtwo {
  background-color: #58bd7d;
  color: #fff;
  border-radius: 5px;
  text-transform: uppercase;
  padding: 8px;
  font-size: 12px;
  line-height: 12px;
  font-weight: bold;
  font-family: Poppins;
  text-align: center;
  width: fit-content;
  margin-top: 28px;
  margin-bottom: 16px;
}
.marketcardthree {
  background-color: #3772ff;
  color: #fff;
  width: 80px;
  border-radius: 5px;
  font-size: 12px;
  line-height: 12px;
  font-weight: bold;
  font-family: Poppins;
  padding: 8px;
  text-align: center;
  width: fit-content;
  margin-top: 28px;
  margin-bottom: 16px;
}
.marketmainheade {
  font-size: 48px;
  font-weight: bold;
  font-family: "DM Sans";
  padding-bottom: 20px;
  color: #23262f;
}
.cardtext {
  font-weight: 500;
  font-family: Poppins;
  font-size: 22px;
  margin-bottom: 28px;
}
.loaderbutton {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  font-family: DM Sans;
  padding: 12px 16px;
  border: 2px solid #e6e8ec;
  border-radius: 28px;
  color: #23262f;
}

.loaderbutton:hover {
  border: 2px solid #3772ff;
  color: #fff;
  background-color: #3772ff;
  cursor: pointer !important;
}

.n-loaderIcon {
  margin-right: 12px;
  width: 16px;
  height: 16px;
  display: none;
}

/*new css */
.numberheading {
  font-weight: 600;
  color: #f04e4e;
  font-family: Poppins;
  font-size: 24px;
}
.marketparatwow {
  font-size: 14px;
  font-weight: 400;
  color: #777e90;
  font-family: Poppins;
  margin-bottom: 0px;
}
.yahparagraph {
  color: #23262f;
  font-size: 24px;
  font-weight: 600;
  font-family: Poppins;
  margin: 0;
}
.yahparagraphs {
  color: #23262f;
  font-size: 24px;
  font-weight: 600;
  font-family: Poppins;
  margin: 0;
}
.transactionclasss {
  padding-left: 50px;
  padding-right: 50px;
  border: 1px solid #e6e8ec;
  border-radius: 15px;
}

/*today css 9/6/2021*/
.tranparagraph {
  color: #777e90;
  font-size: 12px;
}
.servicefee {
  color: #777e90;
  font-size: 16px;
  font-family: Poppins;
  font-weight: 400;
}
.spannnumberss {
  background-color: #4fbf67;
}
.graphbutton {
  background: none;
  border: none;
  font-size: 14px;
  font-weight: 600;
  margin-top: -48px;
  margin-left: 6px;
  color: #808191;
}
.bitcoinheadeing {
  color: #11142d;
  font-size: 18px;
  font-family: Poppins;
  font-weight: 400;
}
.buyTokenbtn {
  display: none;
}
.buytoken-buttonvalue:hover .buyTokenbtn {
  display: block;
}
.buytoken-buttonvalue:hover .buyTokenGraph {
  display: none;
}
.depositclass {
  background-color: #3772ff;
  padding-left: 13px;
  padding-right: 13px;
  padding-top: 7px;
  font-family: Poppins;
  padding-bottom: 7px;
  text-transform: uppercase;
  border-radius: 5px;
  font-size: 12px;
  font-weight: 200;
  color: #fcfcfd;
}
.depositclasss {
  background-color: #58bd7d;
  padding-left: 12.5px;
  padding-right: 12.5px;
  padding-top: 8px;
  padding-bottom: 8px;
  font-family: Poppins;
  text-transform: uppercase;
  border-radius: 5px;
  font-size: 12px;
  font-weight: 600;
  color: #23262f;
}
.depositclasssliquid {
  background-color: #58bd7d;
  padding-left: 12.5px;
  padding-right: 12.5px;
  padding-top: 8px;
  padding-bottom: 8px;
  font-family: Poppins;
  text-transform: uppercase;
  border-radius: 5px;
  font-size: 12px;
  font-weight: 600;
  color: #fcfcfd;
  letter-spacing: 0.5px;
}
.marketsidetitle {
  color: #353945;
  font-family: DM;
  font-size: 14px;
  font-weight: 600;
  font-family: "DM Sans";
}
.sidebarcoleight {
  padding-left: 20px;
  background-color: #fcfcfd;
  border-radius: 5px;
}
.marginleftcol {
  margin-left: 200px;
}
.table thead th {
  vertical-align: bottom;
  border-bottom: 1px solid #dee2e6;
}
.table tbody td {
  font-size: 14px;
}
.popupcrosss {
  border: 3px solid #d4d8e1;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: 30px;
  font-size: 35px;
}
.mainimaggehomepage {
  position: relative;
  right: 35px;
  width: 700px;
}
.font-weight-bold {
  font-family: DM Sans;
}

.marketbuttonss {
  background-color: #fcfcfd;
  padding: 16px 24px;
  font-size: 14px;
  font-weight: 700;
  font-family: DM Sans;
  border-radius: 25px;
  border: 2px solid #e6e8ec;
}
.marketbuttonrrr {
  background-color: #fcfcfd;
  padding: 12px 16px;
  font-size: 14px;
  line-height: 16px;
  font-family: DM Sans;
  font-weight: 700;
  border-radius: 90px;
  border: 2px solid #e6e8ec;
  color: #23262f;
}

.marketbuttonrrr:hover {
  background-color: #3772ff;
  border: 2px solid #3772ff;
  color: #fff;
  cursor: pointer !important;
}
.popupaddliquidty {
  font-weight: bold;
  background-color: #f4f5f6;
  /* padding: 5px, 10px, 10px, 5px; */
  padding-left: 48px;
  padding-right: 48px;
  font-family: DM Sans;
  padding-top: 9px;
  padding-bottom: 9px;
  border-radius: 25px;
  margin-bottom: 1px;
}
.popupaddliquidtyActive {
  font-weight: bold;
  background-color: #fefefe;
  padding: 5px, 10px, 10px, 5px;
  padding-left: 48px;
  padding-right: 48px;
  padding-top: 9px;
  padding-bottom: 9px;
  border-radius: 25px;
  margin-bottom: 0px;
  font-family: "DM Sans";
}
.rdrDayPassive .rdrDayNumber span {
  color: white !important;
}
.rdrDayPassive .rdrDayNumber span:after {
  background: none !important;
}
.rangeActive {
  color: black;
  border: 3px solid !important;
  font-weight: bold;
}
.popupaddliquidty:hover {
  font-weight: bold;
  background-color: #fefefe;
  padding: 5px, 10px, 10px, 5px;
  padding-left: 48px;
  padding-right: 48px;
  padding-top: 9px;
  padding-bottom: 9px;
  border-radius: 25px;
}
.bordewithdraw {
  border: 1px solid #f4f5f6;
  border-radius: 10px;
}
.bordewithdrawe234 {
  border: 1px solid #f4f5f6;
  border-top: none;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.progress {
  height: 6px;
  overflow: visible;
  margin-bottom: 10px;
}
.progress .progress-bar {
  position: relative;
  height: 100%;
  color: inherit;
}
.progress .progress-bar:after {
  content: "";
  background: #fff;
  position: absolute;
  right: -6px;
  top: -4px;
  border-radius: 50%;
  width: 15px;
  height: 15px;
}
.progress-bar {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: center;
  justify-content: center;
  overflow: visible;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  background-color: #007bff;
  transition: width 0.6s ease;
}
.bg-c-blue {
  background: #4099ff;
}
.progress .progress-bar.bg-c-blue:after {
  border: 2px solid #4099ff;
}
.btcnativewithdraw {
  color: #23262f;
  font-family: Poppins;
}
.liquiditybutton {
  border: none;
}
.liquiditybuttonssss {
  border: none;
  font-size: Poppins;
  color: #777e90;
  font-weight: 600;
  padding-top: 5px;
}

.date-classhome {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #777e91;
  margin-top: 84px;
  margin-bottom: 0;
}
.marketmainimage {
  width: 700px;
}
.cryptotrader-home {
  display: flex;
  justify-content: center;
  color: "#23262F";
  font-weight: 700;
  font-family: DM Sans;
  font-size: 48px;
  line-height: 56px;
}

.n-cardContent {
  padding: 0px 32px 50px;
}

.earnyield-pagepic {
  width: 500px;
}
.overview_portfoliobg {
  background-color: #fcfcfd;
  padding-left: 25px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 5px;
}
.liquidtyimage {
  border: none;
  height: 25px;
  margin-top: 6px;
}
.solidclasssheader {
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 1px;
  background-color: #e6e8ec;
}
.overview-tablehead {
  color: #777e90;
  font-family: Poppins;
  font-size: 12px;
  font-weight: 600;
  line-height: 20px;
}
.overview-tableheadss {
  color: #23262f;
  font-family: Poppins;
  font-size: 14px;
  font-weight: 400;
  border-top: none;
  line-height: 24px;
}
input::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #000;
}
.seeallbutton {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  color: #23262f;
  border: 2px solid #e6e8ec;
  border-radius: 22px;
  background-color: #fcfcfd;
  font-family: DM Sans;
  font-weight: 600;
}
.shadowclass {
  border: none;
  border-radius: 20px;
  background-color: #fcfcfd;
}
.shadowclass:hover {
  box-shadow: 0px 64px 64px -48px rgba(15, 15, 15, 0.1);
}
.date-classhomess {
  font-family: Poppins;
  color: #777e90;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  margin-bottom: 0px;
  margin-top: 16px;
}
.date-overviewtable {
  border-top: none;
  color: #777e90;
  font-family: Poppins;
  font-size: 14px;
  font-weight: 400;
}
.maintdclasshover:hover {
  border-radius: 12px;
  background: #f8f8f9;
}
.earnyield-value {
  font-size: 14px;
  font-weight: 600;
  color: #777e90;
}
.depositclasssss {
  background-color: #58bd7d;
  padding-left: 22px;
  padding-right: 22px;
  padding-top: 7px;
  padding-bottom: 7px;
  font-family: Poppins;
  text-transform: uppercase;
  border-radius: 5px;
  font-size: 12px;
  font-weight: 400;
  color: #fcfcfd;
}
.text-muted {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  /* identical to box height, or 150% */

  /* Neutrals/5 */

  color: #b1b5c3 !important;
}
.uadreetext899 {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */

  /* Neutrals/2 */

  color: #23262f;
}
.utableheading56000 {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  border-bottom: 1px solid #777e90;
  border-top: none !important;
  padding-bottom: 16px;
  color: #777e91;
}
.activaty-headingss {
  font-family: DM Sans;
  font-size: 32px;
  font-weight: bold;
  color: #23262f;
}
.umianparagra01234 {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */

  text-align: center;

  /* Neutrals/4 */

  color: #777e91;
  padding-bottom: 64px;
}
.usection0000 {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */

  text-align: center;

  /* Neutrals/2 */

  color: #23262f;
}
.usection0000text {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  /* or 171% */

  text-align: center;

  /* Neutrals/4 */

  color: #777e91;
}
.darkmode--activated .navbar {
  background-color: #000 !important;
}
.darkmode--activated .marketbannerhed {
  color: #fff !important;
}
.darkmode--activated .umarketp3456 {
  color: #fff !important;
}
.darkmode--activated .nav-link {
  color: white !important;
}

.assetsprice-b {
  color: #777e90;
  font-size: 14px;
  font-family: Poppins;
  font-weight: 400;
}
.asset-totalquantity {
  color: #23262f;
  font-size: 14px;
  font-family: Poppins;
  font-weight: 400;
}
.activity-coin {
  font-size: 14px;
  color: #23262f;
  font-weight: 600;
  font-family: Poppins;
  padding-top: 3px;
  padding-left: 10px;
}
.activity-coins {
  font-size: 14px;
  color: #777e90;
  font-weight: 600;
  font-family: Poppins;
  padding-top: 3px;
  padding-left: 10px;
}
.exportbutton {
  background-color: #fcfcfd;
  border: 1px solid #545454;
  padding-left: 1px;
  border-radius: 30px;
  padding-right: 1px;
}
.earn-yieldbuttonactivity {
  color: #23262f;
  font-family: DM Sans;
  font-weight: bold;
  border: 2px solid;
  border-color: #e6e8ec;
  background-color: #fcfcfd;
  border-radius: 40px;
  padding-left: 18px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-right: 40px;
}
.earn-yieldbuttonactivityss {
  color: #23262f;
  font-family: DM Sans;
  font-weight: bold;
  border: 2px solid;
  border-color: #e6e8ec;
  background-color: #fcfcfd;
  border-radius: 40px;
  padding-left: 18px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-right: 30px;
}
.cardborder {
  border-left: none;
  border-right: none;
  border-top: none;
  border-bottom: 3px solid;
  border-color: #e6e8ec;
  width: 352px;
}

.n-learnCard {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}
.form-control:focus {
  box-shadow: #3772ff;
}
.select {
  -webkit-appearance: none;
  padding: 2px 30px 2px 2px;
  border: none;
}

.select:focus {
  outline: none;
}
.u-swappingdonemain3455 {
  border: 2px solid #e6e6e6;
  border-radius: 15px;
  padding: 10px 30px 10px 30px;
}
.u-headinfswaming09888 {
  font-size: 24px;
  font-family: Poppins;
  color: #23262f;
  padding-left: 35px;
  padding-top: 20px;
}
/* new */
.form-range-thumb {
  width: 2rem;
}
.learnp111 {
  font-family: Poppins;
  font-size: 24px;
  color: #777e90;
  font-weight: 400;
  display: flex;
  justify-content: center;
}
.buttonlearnmore1234 {
  font-size: 14px;
  font-family: DM Sans;
  color: #fcfcfd;
  font-weight: 700;
  background-color: #3772ff;
  padding: 12px 16px;
  border: none;
  border-radius: 90px;
  line-height: 16px;
}
.learnpage-234 {
  font-size: 24px;
  font-family: Poppins;
  font-weight: 600;
  /* width: 100%; */
  border: none;
  color: #353945;
}
.n-learnSectionDropDown {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.n-learnSectionSearch {
  border-radius: 30px;
  width: 280px;
  height: 35px;
  font-family: DM Sans;
  background-color: #fcfcfd;
}
.learnpage-234:focus-visible {
  outline: none;
}
.btn-secondary234 {
  color: #23262f;
  font-size: 14px;
  font-family: Poppins;
  font-weight: 400;
  border: 2px solid #e6e8ec;
  border-radius: 10px;
  padding-left: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 8px;
  display: flex;
  flex-direction: revert;
  align-items: center;
  justify-content: space-between;
}
.n-learnFilterLabels {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 0;
}
.n-learnDropLabels {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.n-leaningCardList {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.spanclass-343 {
  font-family: Poppins;
  font-size: 12px;
  font-weight: 700;
  line-height: 12px;
  background-color: #9757d7;
  text-align: center;
  text-transform: uppercase;
  color: #fcfcfd;
  padding: 8px;
  border-radius: 5px;
  position: absolute;
  top: 8px;
  left: 8px;
}
.cardtitle234 {
  font-size: 16px;
  font-family: Poppins;
  font-weight: 400;
  color: #23262f;
  margin-top: 5px;
  margin-bottom: 0px;
}
.pname4566 {
  font-size: 12px;
  font-family: Poppins;
  font-weight: 400;
  color: #777e90;
}
.pname456667 {
  font-size: 12px;
  font-family: Poppins;
  font-weight: 700 !important;
  line-height: 12px;
  border: 2px solid #58bd7d;
  border-radius: 5px;
  padding-left: 5px;
  padding-right: 5px;
  color: #58bd7d;
  float: right;
  margin-bottom: 10px;
  margin-top: -35px;
}
.spanclass-343900 {
  font-family: Poppins;
  font-size: 12px;
  font-weight: 700;
  line-height: 12px;
  background-color: #23262f;
  text-align: center;
  text-transform: uppercase;
  color: #fcfcfd;
  padding: 8px;
  border-radius: 5px;
  position: absolute;
  top: 8px;
  left: 8px;
}
.spanclass-343339 {
  font-family: Poppins;
  font-size: 12px;
  font-weight: 700;
  line-height: 12px;
  background-color: #ff6838;
  text-align: center;
  text-transform: uppercase;
  color: #fcfcfd;
  padding: 8px;
  border-radius: 5px;
  position: absolute;
  top: 8px;
  left: 8px;
}
.outline-secondary:hover {
  color: #fcfcfd;
}
.homebuttom-3444 {
  border: 2px solid #e6e8ec;
  padding: 12px 16px;
  border-radius: 90px;
  font-family: DM Sans;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: #23262f;
  text-decoration: none !important;
}

.homebuttom-3444:hover {
  background-color: #3772ff;
  color: #fff;
  border: 2px solid #3772ff;
}

.n-getStartedSection {
  padding: 130px 0px 75px;
}

.n-cryptoReadMore {
  display: flex;
  justify-content: center;
  margin-top: 64px;
}

.n-readMoreButton {
  border: 2px solid #3772ff;
  padding: 12px 16px;
  font-family: DM Sans;
  font-size: 14px;
  font-weight: 700;
  font-style: normal;
  line-height: 16px;
}

.n-readMoreButton:hover {
  color: #3772ff;
  background-color: transparent !important;
  border: 2px solid #3772ff;
}

.exportbuttonactivity {
  padding-top: 12px;
  padding-bottom: 12px;
  padding-right: 17px;
  padding-left: 16px;
  font-size: 14px;
  line-height: 16px;
  font-family: DM Sans;
  font-weight: 700;
}

.rdrSelected,
.rdrInRange,
.rdrStartEdge,
.rdrEndEdge {
  background: #23262f !important;
  position: absolute;
  top: 3px !important;
  left: 3px !important;
  right: 3px !important;
  border-radius: 35px !important;
  bottom: 3px !important;
}
.rdrDayHovered {
  background-color: #777e90 !important;
}
.rdrDay {
  outline-color: #23262f !important;
}
.rdrWeekDay {
  font-weight: 400;
  line-height: 2.667em;
  font-size: 14px !important;
  font-family: Poppins !important;
  color: #777e90;
  color: rgb(132, 144, 149);
}
.rdrDayNumber {
  font-size: 14px !important;
  font-family: POppins !important;
  color: #23262f !important;
}
.rdrDateDisplay {
  display: none !important;
}
.rdrMonthAndYearWrapper {
  display: none;
}
.rdrMonthAndYearPickers {
  display: none !important;
}
.rdrMonthName {
  text-align: center !important;
  font-weight: 600;
  color: #849095;
  margin-top: -48px;
  font-size: 16px !important;
  font-family: Poppins !important;
  margin-bottom: 16px;
  color: #23262f !important;
  padding: 0.833em;
}
.form-control {
  background-color: #fcfcfd !important;
}
.table {
  background-color: #fcfcfd !important;
}
.buybutttonmarket {
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  background-color: #3772ff;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 35px;
  padding-right: 35px;
  font-family: DM Sans;
  font-weight: 700;
}
.buybutttonmarket:hover {
  color: #3772ff;
  background-color: #fff !important;
  border-color: #3772ff;
}
.buytoken-buttonvalue:hover .buyTokenbtn {
  text-align: center;
}
.footerlogo345 {
  border-right: 1px solid lightgrey;
  padding-top: 80px;
}

.footerlogo3455 {
  padding-top: 80px;
}

.footerLinkList {
  /* padding-left: 48px; */
  display: flex;
  flex-direction: column;
  align-items: center;
}
.umarketp3456 {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: -0.01em;
  color: #353945;
}
.umarketsect22222 {
  padding: 24px 24px 24px 24px;
}
.n-marketGraphImage {
  width: 138px;
  height: 42px;
}
.n-marketSection {
  padding-top: 130px;
}
.n-marketLoadMore {
  margin-top: 64px;
  margin-bottom: 130px;
}
.n-marketLearnCard {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.n-earnYeildTable {
  padding-bottom: 130px;
}
.n-earnYeildSection {
  padding-top: 48px;
}

.u-mainclassliquidity6788 {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: #23262f;
  margin-bottom: 0px;
}
.rdrDateRangePickerWrapper {
  background-color: #fcfcfd !important;
}
.modal-content {
  background-color: #fcfcfd !important;
  border: 1px solid #e6e8ec;
  box-sizing: border-box !important;
  box-shadow: 0px 40px 32px -24px rgba(15, 15, 15, 0.12) !important;
  border-radius: 16px !important;
}
.u-overview09888 {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 40px;
  letter-spacing: -0.01em;
  color: #23262f;
}
.u-activityinput5757575 {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 20px;
  display: flex;
  align-items: center;
  color: #777e91;
  flex: none;
  margin: 0px 18px;
  border: 2px solid #e6e8ec;
  box-sizing: border-box;
  border-radius: 8px;
  position: static;
  width: 250px;
  height: 40px;
  left: 0px;
  top: 0px;
}
.u-icon00909909909 {
  position: absolute;
  right: 4px;
}
.u-datepickerbuttom56 {
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  background-color: #fcfcfd;
  text-align: center;
  color: #23262f;
  border: 2px solid #e6e8ec;
  box-sizing: border-box;
  border-radius: 90px;
  padding-left: 16px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-right: 16px;
}
.u-learnimage456 {
  width: 40px;
  height: 40px;
}
.u-learncardimage456 {
  border-radius: 16px;
}
.u-modalkeystore0999990 {
  padding: 32px 32px 32px 32px;
}
.articleDetails {
  padding: 80px 0px 130px;
}
.articleDetailsHeading {
  padding: 0px 195px;
}

.articleHeading {
  font-family: DM Sans;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: 64px;
  text-align: center;
  margin-bottom: 24px;
  letter-spacing: -0.02em;
  color: #23262f;
}

.breadcrumbLinks a {
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: #777e91;
  text-decoration: none;
  margin: 0px 24px;
}
.breadcrumbLinks a:hover {
  cursor: pointer;
}
.articleVideo {
  display: none;
  margin: 80px 0px 130px;
}
.articleImage {
  margin-top: 80px;
  text-align: center;
}
.articleDescription {
  padding: 0px 175px;
}
.articleDescription h5 {
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 48px;
  letter-spacing: -0.01em;
  color: #23262f;
  margin-top: 80px;
}
.articleDescription p {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #777e91;
  margin-top: 32px;
  margin-bottom: 0px;
}
.articleIcons svg {
  margin: 80px 16px 0px;
}
.emailInputArrow {
  /* background-color: #3772ff; */
  color: #fff;
  padding: 8px 7px 0px 9px;
  margin: 7px 0px 6px -45px;
  font-size: 14px;
  border-radius: 20px;
}
.u-burmarketmainpparagrpahj00 {
  font-size: 18px;
  font-family: Poppins;
  font-weight: 600;
  padding-left: 30px;
  margin-bottom: 0px;
}

.n-footerLinks {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.n-learnDropDown {
  display: none;
  /* visibility: hidden; */
}
ul.navbar-nav li.nav-item a:hover .n-learnDropDown {
  display: block;
  box-shadow: rgba(31, 47, 70, 0.15);
  -webkit-box-shadow: rgba(31, 47, 70, 0.15);
}

ul.navbar-nav li.nav-item a:hover .n-learnDropDown li {
  padding: 16px;
  margin: 0px;
}
ul.navbar-nav li.nav-item a:hover .n-learnDropDown li:hover {
  background-color: #f4f5f6;
}

ul.navbar-nav li.nav-item a:hover .n-learnDropDown li a {
  text-decoration: none;
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  color: #777e91;
}

ul.navbar-nav li.nav-item a:hover .n-learnDropDown li:hover a {
  color: #353945;
}

.n-learnDropDown {
  position: absolute;
  background-color: #fcfcfd;
  /* box-shadow: rgba(31, 47, 70, 0.15);
  -webkit-box-shadow: rgba(31, 47, 70, 0.15); */
  box-shadow: 0px 16px 64px rgb(195 195 195);
  border-radius: 12px;
  padding: 12px 0px;
  width: 191px;
  z-index: 9999;
}

.n-learnDropDown li {
  list-style: none;
  text-align: start;
  margin-bottom: 16px;
}
.n-tableSearch {
  border-radius: 30px;
  height: 35px;
  font-family: DM Sans;
  background-color: #fcfcfd;
}
